#
# // SPDX-FileCopyrightText: 2024 Deutsche Telekom AG
# //
# // SPDX-License-Identifier: Apache-2.0
#

lmos:
  runtime:
    agent-registry:
      base-url: ${AGENT_REGISTRY_URL:http://lmos-operator:8080}
    router:
      type: EXPLICIT
    open-ai:
      url: ${OPENAI_API_URL:https://api.openai.com/v1}
      key: ${OPENAI_API_KEY:}
      model: ${OPENAI_API_MODEL:"gpt-3.5-turbo"}
      max-tokens: ${OPENAI_API_MAX_TOKENS:2000}
      temperature: ${OPENAI_API_TEMP:0.0}
      format: ${OPENAI_API_FORMAT:json_object}
    cache:
      ttl: ${CACHE_TTL:1800}

server:
  port: 8081

spring:
  application:
    name: lmos-runtime
  main:
    banner-mode: off
  profiles:
    active: local

logging:
  level:
    root: INFO
    org:
      springframework: WARN

management:
  server:
    port: 9091
  endpoints:
    web:
      base-path: /
      exposure:
        include: prometheus,metrics,info,health
  endpoint:
    metrics:
      access: read_only
    health:
      probes:
        enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

graphql:
  packages:
  - org.eclipse.lmos
